
.black {
    background-color: #333333;
    width: 2rem;
    height: 2rem;
    border: 1px solid #ffffff;
}
.orange {
    background-color: #ff7f2a;
    width: 2rem;
    height: 2rem;
    border: 1px solid #ffffff;
}
.yellow {
    background-color: #ffcc00;
    width: 2rem;
    height: 2rem;
    border: 1px solid #ffffff;
}
